{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-sm-9 col-lg-6 mx-auto my-5 p-3 bg-light rounded border shadow">

        <div class="d-flex justify-content-between align-items-center">
            <h1>Role edit</h1>

            {% if role.name not in protectedRoles %}
                {# DELETE FORM #}
                {% include 'partials/form-role-delete.html.twig' %}
            {% endif %}
        </div>

        {# EDIT FORM #}
        {% include 'partials/form-edit.html.twig' %}

    </div>

{% endblock %}
