{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-sm-9 col-lg-6 mx-auto my-5 p-3 bg-light rounded border shadow">

        <div class="d-flex d-flex justify-content-between align-items-center">

            <h1 class="float-left">Roles list</h1>

            <div class="float-right">

                {% include 'partials/link-toggle.html.twig' with {
                    'toPath': 'admin_roles',
                    'tooltipText': 'A very old and crappy way of managing user roles.',
                } %}

                {% include 'partials/link-add.html.twig' with {
                    'toPath': 'roles_new',
                    'iconClass': 'fas fa-user-tag',
                } %}

            </div>
        </div>


        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig' with {'pagination':roles, 'class':'mx-auto my-2'} %}


        {# TABLE #}
        <table class="table table-striped table-hover table-bordered">
            <thead class="bg-primary text-white">
            <tr>
                {#<th>Id</th>#}
                <th>Name</th>
                <th>Protected</th>
                <th>Users</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for role in roles %}
                <tr>
                    {#<td><a href="{{ path('roles_show', { 'id': role.id }) }}">{{ role.id }}</a></td>#}
                    <td>{{ role.name }}</td>
                    <td>{{ role.name in protectedRoles ? 'YES' : '' }}</td>
                    <td>{{ role.users|length }}</td>
                    <td>

                        {# show #}
                        <a class="btn btn-sm btn-outline-success"
                           href="{{ path('roles_show', { 'id': role.id,'goBack':currentUri}) }}">
                            <i class="far fa-eye"></i> show</a>

                        {# edit #}
                        <a class="btn btn-sm btn-outline-primary"
                           data-toggle="tooltip"
                           title="Edit Role <strong class='text-primary'>{{ role }}</strong> and its Users."
                           href="{{ path('roles_edit', { 'id': role.id,'goBack':currentUri}) }}">
                            <i class="far fa-edit"></i> edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig' with {'pagination':roles, 'class':'mx-auto my-2'} %}

    </div>

{% endblock %}
