{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-sm-9 col-lg-6 mx-auto my-5 p-3 bg-light rounded border shadow">

        <h1>Role</h1>

        {# TABLE #}
        {% import 'partials/macro-table-horizontal.html.twig' as forms %}
        {{ forms.table([
            ['Id',role.id],
            ['Name',role.name],
        ]) }}

        {# BACK button #}
        {% include 'partials/link-go-back.html.twig' %}

        {# go to EDIT button #}
        <a href="{{ path('roles_edit', {
            'id': role.id,
            'goBack': currentUri,
        }) }}"
           data-toggle="tooltip"
           title="Edit Role <strong class='text-primary'>{{ role }}</strong> and its relations to the Users"
           class="btn btn-success"><i class="far fa-edit"></i> Edit...</a>


        {% if role.name not in protectedRoles %}
            {# DELETE FORM #}
            <div class="float-right">
                {% include 'partials/form-role-delete.html.twig' %}
            </div>
        {% endif %}

    </div>
{% endblock %}
