{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-sm-9 col-lg-6 mx-auto my-5 p-3 bg-light rounded border shadow">

        <div class="d-flex justify-content-between align-items-center">
            <h1>Category edit</h1>
            
            {# DELETE FORM #}
            {% if not category.hasChildren %}

                {{ form_start(delete_form) }}
                {% include 'partials/button-delete.html.twig' with {'classes':"btn btn-outline-danger my-3"} %}
                {{ form_end(delete_form) }}

            {% endif %}
        </div>

        {# EDIT FORM #}
        {% include 'partials/form-edit.html.twig' %}

    </div>

{% endblock %}
