{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-sm-9 col-lg-6 mx-auto my-5 p-3 bg-light rounded border shadow">

        <div class="d-flex d-flex justify-content-between align-items-center">
            <h1 class="float-left">Categories list</h1>

            <a class="btn btn-outline-success float-right"
               href="{{ path('categories_new', {'goBack':currentUri}) }}"><i class="fas fa-plus"></i> Add</a>
        </div>

        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig'
            with {'pagination':categories, 'class':'mx-auto my-2'} %}

        {# TABLE #}
        <table class="table table-striped table-hover table-bordered">
            <thead class="bg-primary text-white">
            <tr>
                {#<th>Id</th>#}
                <th>Full Path</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    {#<td><a href="{{ path('categories_show', { 'id': category.id }) }}">{{ category.id }}</a></td>#}
                    <td>{{ category.path|split('/')|join('<br>/')|trim('<br>')|raw }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        {# show #}
                        <a class="btn btn-sm btn-outline-success"
                           href="{{ path('categories_show', { 'id': category.id,'goBack':currentUri}) }}">
                            <i class="far fa-eye"></i> show</a>

                        {# edit #}
                        <a class="btn btn-sm btn-outline-primary"
                           href="{{ path('categories_edit', { 'id': category.id,'goBack':currentUri}) }}">
                            <i class="far fa-edit"></i> edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig'
            with {'pagination':categories, 'class':'mx-auto my-2'} %}

    </div>

{% endblock %}

