{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-sm-9 col-lg-6 mx-auto my-5 p-3 bg-light rounded border shadow">

        <h1>Category</h1>

        {# TABLE #}
        {% import 'partials/macro-table-horizontal.html.twig' as forms %}
        {{ forms.table([
            ['Id',category.id],
            ['Name',category.name],
            ['Description',category.description],
            ['Parent',category.parent],
            ['Full Path',category.path|split('/')|join('<br>/')|trim('<br>')|raw],
        ]) }}

        {# BACK button #}
        {% include 'partials/link-go-back.html.twig' %}

        {# go to EDIT button #}
        <a href="{{ path('categories_edit', {
            'id': category.id,
            'goBack': currentUri,
        }) }}"
           data-toggle="tooltip" title="Edit this Category"
           class="btn btn-success"><i class="far fa-edit"></i> Edit...</a>

        {# DELETE FORM #}
        {% if not category.hasChildren %}
            <div class="float-right">

                {{ form_start(delete_form) }}
                {% include 'partials/button-delete.html.twig' with {
                    'classes':"btn btn-outline-danger",
                    'tooltipText': "Delete IMMEDIATELY this Category!"
                } %}
                {{ form_end(delete_form) }}

            </div>
        {% endif %}

    </div>

{% endblock %}
