
{# SNOW #}
{% if weather.isSnowing %}

    {% if snowRate > 0 %}
        <div class="i-large"></div>{% endif %}
    {% if snowRate > 1 %}
        <div class="i-medium"></div>{% endif %}
    {% if snowRate > 2 %}
        <div class="i-small"></div>{% endif %}

{% elseif weather.isForTheSky %}

    {#SKY#}
    <div id="bg"></div>

{% elseif weather.isForTheBeach %}

    {#BEACH#}
    <div id="beach-container">
        <div class="sky"></div>
        <div class="sea">
            <div class="light"></div>
        </div>
        <div class="sun"></div>
        <div class="bird1l"></div>
        <div class="bird1r"></div>
        <div class="bird2l"></div>
        <div class="bird2r"></div>
        <div class="fin">
            <div class="wave"></div>
        </div>
    </div>

{% endif %}
