<button type="submit"
        class="{{ classes|default('btn btn-danger') }}"
        data-toggle="tooltip"
        title="{{ tooltipText|default('') }}"
>
    <i class="far fa-trash-alt"></i> {{ text|default('Delete') }}
</button>
