<div class="file-upload">
    {#<button class="file-upload-btn" type="button"#}
            {#onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>#}

    {# the normally visible drag-and-drop area #}
    <div class="image-upload-wrap">
        <input class="file-upload-input"
               type='file'
               onchange="readURL(this);"
               accept="{{ accept|default('image/*') }}"
               name="{{ name|default('user[photo]') }}"
               value="{{ value|default(null) }}"
               maxlength="{{ maxlength|default('5Mi') }}"/>
        <div class="drag-text">
            <h3>Drag and drop a file <br>or click me</h3>
        </div>
    </div>

    {# the image and Remove button that appear when an image is selected/dropped #}
    <div class="file-upload-content">
        <img class="file-upload-image rounded-circle" src="#" alt="your image"/>
        <div class="image-title-wrap">
            <button type="button" onclick="removeUpload()" class="remove-image">
                Remove <br><span class="image-title">Uploaded Image</span>
            </button>
        </div>
    </div>
</div>
