<div class=row">
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {% include 'partials/link-go-back.html.twig' %}
    {% include 'partials/button-update.html.twig' %}
    {{ form_end(edit_form) }}
</div>
