{% if app.user.id == message.sender.id or
    app.user.id == message.recipient.id or
    app.user.isAdmin %}

    {{ form_start(delete_form) }}
    <input type="hidden" name="goBack" value="{{ goBack|default('/') }}">
    <button data-toggle="tooltip"
            title="Delete IMMEDIATELY Message <strong class='text-primary'>{{ message }}</strong>!"
            type="submit"
            class="btn btn-outline-danger">
        <i class="fas fa-trash-alt"></i> Delete
    </button>
    {{ form_end(delete_form) }}

{% endif %}
