{{ form_start(delete_form) }}
<button data-toggle="tooltip"
        title="Delete IMMEDIATELY Tag <strong class='text-primary'>{{ tag }}</strong>!"
        type="submit" class="btn btn-outline-danger">
    <i class="fas fa-trash-alt"></i> Delete
</button>
{{ form_end(delete_form) }}
