{{ form_start(form) }}
{{ form_widget(form) }}
{% include 'partials/link-go-back.html.twig' %}
<button type="submit" class="btn btn-success">
    <i class="{{ iconClass|default('fas fa-plus') }}"></i> {{ text|default('Add') }}
</button>
{{ form_end(form) }}


