{{ form_start(delete_form) }}
{% include 'partials/button-delete.html.twig' with {
    'classes': 'btn btn-outline-danger',
    'tooltipText': "Delete IMMEDIATELY Role <strong class='text-primary'>{{ role }}</strong>!",
} %}
{{ form_end(delete_form) }}
