<div class="accordion" id="homeAccor1">


    {# TAGS #}
    {% if tags %}
        <div class="card">
            <div class="card-header" id="homeAccor1-Tags">
                <h5 class="mb-0">
                    <button class="btn btn-link" {# add collapsed class if needed #}
                            type="button"
                            onclick="setAccordions('homeAccor1','homeAccor1-collapseTags')"
                            data-toggle="collapse"
                            data-target="#homeAccor1-collapseTags"
                            aria-controls="homeAccor1-collapseTags"
                            aria-expanded="false"> {# change to true to have this section auto-open #}
                        <h2>Tags</h2>
                    </button>
                </h5>
            </div>
            {#collapse Tags#}
            <div id="homeAccor1-collapseTags"
                 data-parent="#homeAccor1"
                 aria-labelledby="homeAccor1-Tags"
                 class="collapse "> {# add show class to have this section auto-open #}
                <div class="card-body">

                    {% if untaggedArticlesCount > 0 %}
                        <a href="{{ path('tagged_articles', {'tagId':0}) }}"
                           class="btn btn-outline-primary">
                            Show untagged Articles ({{ untaggedArticlesCount }})
                        </a>
                    {% endif %}

                    {% include 'partials/knp-paginator.html.twig' with {'pagination':tags, 'class':'mx-auto my-0'} %}
                    {% for tag in tags %}{% include 'partials/snippet-tag.html.twig' %}{% endfor %}
                    {% include 'partials/knp-paginator.html.twig' with {'pagination':tags, 'class':'mx-auto my-2'} %}

                </div>
            </div>
        </div>
    {% endif %}


    {# CATEGORIES #}
    {% if categories %}
        <div class="card">
            <div class="card-header" id="homeAccor1-Categories">
                <h5 class="mb-0">
                    <button class="btn btn-link" {# add collapsed class if needed #}
                            type="button"
                            onclick="setAccordions('homeAccor1','homeAccor1-collapseCategories')"
                            data-toggle="collapse"
                            data-target="#homeAccor1-collapseCategories"
                            aria-controls="homeAccor1-collapseCategories"
                            aria-expanded="false">
                        <h2>Categories</h2>
                    </button>
                </h5>
            </div>
            {#collapse Categories#}
            <div id="homeAccor1-collapseCategories"
                 data-parent="#homeAccor1"
                 aria-labelledby="homeAccor1-Categories"
                 class="collapse">
                <div class="card-body">

                    {% if uncategorizedArticlesCount > 0 %}
                        <a href="{{ path('categorized_articles', {'categoryId':0}) }}"
                           class="btn btn-outline-primary">
                            Show uncategorized Articles ({{ uncategorizedArticlesCount }})
                        </a>
                    {% endif %}

                    {% include 'partials/knp-paginator.html.twig' with {'pagination':categories, 'class':'mx-auto my-3'} %}
                    {% for category in categories %}{% include 'partials/snippet-category.html.twig' %}{% endfor %}
                    {% include 'partials/knp-paginator.html.twig' with {'pagination':categories, 'class':'mx-auto my-3'} %}

                </div>
            </div>
        </div>
    {% endif %}

</div>
