<div class="accordion" id="homeAccor2">


    {# AUTHORS #}
    {% if authors %}
        <div class="card">
            <div class="card-header" id="homeAccor2-Authors">
                <h5 class="mb-0">
                    <button class="btn btn-link" {# add collapsed class if needed #}
                            type="button"
                            onclick="setAccordions('homeAccor2','homeAccor2-collapseAuthors')"
                            data-toggle="collapse"
                            data-target="#homeAccor2-collapseAuthors"
                            aria-controls="homeAccor2-collapseAuthors"
                            aria-expanded="false"> {# change to true to have this section auto-open #}
                        <h2>Authors</h2>
                    </button>
                </h5>
            </div>
            {#collapse Authors#}
            <div id="homeAccor2-collapseAuthors"
                 aria-labelledby="homeAccor2-Authors"
                 data-parent="#homeAccor2"
                 class="collapse "> {# add show class to have this section auto-open #}
                <div class="card-body">

                    {% include 'partials/knp-paginator.html.twig' with {'pagination':authors, 'class':'mx-auto my-3'} %}
                    {% for author in authors %}
                        {% include 'partials/snippet-author.html.twig' %}
                    {% endfor %}
                    {% include 'partials/knp-paginator.html.twig' with {'pagination':authors, 'class':'mx-auto my-3'} %}

                </div>
            </div>
        </div>
    {% endif %}

    {# MESSAGES #}
    <div class="card">
        <div class="card-header" id="homeAccor2-Messages">
            <h5 class="mb-0">
                <button class="btn btn-link" {# add collapsed class if needed #}
                        type="button"
                        onclick="setAccordions('homeAccor2','homeAccor2-collapseMessages')"
                        data-toggle="collapse"
                        data-target="#homeAccor2-collapseMessages"
                        aria-controls="homeAccor2-collapseMessages"
                        aria-expanded="false">
                    <h2>Messages</h2>
                </button>
            </h5>
        </div>
        {#collapse Messages#}
        <div id="homeAccor2-collapseMessages"
             aria-labelledby="homeAccor2-Messages"
             data-parent="#homeAccor2"
             class="collapse">
            <div class="card-body">

                {# SEND MESSAGE link#}
                {% include 'partials/link-add.html.twig'  with {
                    'toPath': 'messages_new',
                    'iconClass': 'far fa-edit',
                    'text': 'Send Message',
                }%}

                {# TABS #}
                <div class="tabs mt-3 px-0">
                    <div class="tab-button-outer">
                        <ul id="tab-button">
                            <li data-toggle="tooltip" title="Inbox">
                                <a href="#tab02"><i class="fas fa-inbox"></i></a></li>
                            <li data-toggle="tooltip" title="Sent Messages">
                                <a href="#tab03"><i class="far fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    <div class="tab-select-outer">
                        <select id="tab-select">
                            <option value="#tab02"><i class="fas fa-inbox"></i></option>
                            <option value="#tab03"><i class="far fa-envelope"></i></option>
                        </select>
                    </div>

                    {# INBOX #}
                    <div id="tab02" class="tab-contents px-0">
                        <h2>Inbox</h2>
                        {% include 'message/received.html.twig'%}
                    </div>

                    {# SENT MESSAGES #}
                    <div id="tab03" class="tab-contents px-0">
                        <h2>Sent Messages</h2>
                        {% include 'message/sent.html.twig'%}
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>


{% use 'partials/site-stylesheets.html.twig' %}
{% block customStyles %}
    {{ parent() }}

    <style>

        .tabs {
            /*max-width: 640px;*/
            margin: 0 auto;
            padding: 0 20px;
        }

        #tab-button {
            display: table;
            table-layout: fixed;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #tab-button li {
            display: table-cell;
            width: 20%;
        }

        #tab-button li a {
            display: block;
            padding: .5em;
            background: #eee;
            border: 1px solid #ddd;
            text-align: center;
            color: #000;
            text-decoration: none;
        }

        #tab-button li:not(:first-child) a {
            border-left: none;
        }

        #tab-button li a:hover,
        #tab-button .is-active a {
            border-bottom-color: transparent;
            background: #fff;
        }

        .tab-contents {
            padding: .5em 2em 1em;
            border: 1px solid #ddd;
        }

        .tab-button-outer {
            display: none;
        }

        .tab-contents {
            margin-top: 20px;
        }

        /*@media screen and (min-width: 768px) {*/
            .tab-button-outer {
                position: relative;
                z-index: 2;
                display: block;
                font-size: 1.5em;
            }

            .tab-select-outer {
                display: none;
            }

            .tab-contents {
                position: relative;
                top: -1px;
                margin-top: 0;
            }
        /*}*/

    </style>

{% endblock %}
