{# PAGINATOR #}
<div class="{{ paginatorContainerClass|default('row m-0 p-0') }}">
    <div class="navigation {{ class|default('') }}">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
