<a class="{{ classes|default('btn btn-outline-success') }}"
   href="{{ path( toPath, {'goBack':currentUri}) }}">
    <i class="{{ iconClass|default('fas fa-plus') }}"></i>
    {{ text|default('Add') }}
</a>
