{# DISABLE AUTHOR AND MULTIPLE LIKE/DISLIKE #}
{% if user and not user.feeling(article) and not user.isAuthor(article) %}

    {#BUTTON LIKE#}
    <a class="btn btn-success btn-xs"
       data-toggle="tooltip" title="Like!"
       href="{{ path('article_like', {'id':article.id, 'goBack': goBack}) }}">
        <i class="fas fa-thumbs-up"></i>
    </a>

    {#BUTTON DISLIKE#}
    <a class="btn btn-danger btn-xs"
       data-toggle="tooltip" title="Dislike!"
       href="{{ path('article_dislike', {'id':article.id, 'goBack': goBack}) }}">
        <i class="fas fa-thumbs-down"></i>
    </a>

{% endif %}

{# BUTTON COMMENT #}
<a class="btn btn-primary btn-xs"
   data-toggle="tooltip" title="Comment..."
   href="{{ path('article_comment',{
       'articleId':article.id,
       'goBack':currentUri
   }) }}">
    <i class="far fa-comment"></i>
</a>
