{% if app.user and (app.user.isAuthor(article) or app.user.isAdmin() ) %}

    {# BUTTON DELETE #}
    <a class="btn btn-danger btn-xs"
       data-toggle="tooltip" title="Delete!"
       href="{{ path('article_delete', {'id':article.id, 'goBack': currentUri}) }}">
        {#delete &raquo;#}
        <i class="fas fa-trash-alt"></i>
    </a>

    {# BUTTON EDIT #}
    <a class="btn btn-warning btn-xs"
       data-toggle="tooltip" title="Edit..."
       href="{{ path('article_edit', {'id':article.id, 'goBack': currentUri}) }}">
        {#edit &raquo;#}
        <i class="fas fa-edit"></i>
    </a>
{% endif %}
