<a class="btn btn-outline-primary"
   href="{{ path( toPath, {'goBack':currentUri,}) }}"
   data-toggle="tooltip"
   title="{{ tooltipText|default('') }}">
    <i class="fas fa-toggle-off"></i>
    {{ text|default('Toggle') }}
</a>
