{% macro table(rows) %}
    <table class="table table-striped table-bordered">
        <tbody>
        {% for row in rows %}
            <tr>
                <th>{{ row[0] }}</th>
                <td>{{ row[1] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
