{% block javascripts %}

    {# BOOTSTRAP 4 #}

    {% if mode == 'dev' %}

        {#LOCAL#}
        <script
                src="{{ asset('js/vendor/jquery/jquery-3.3.1.min.js') }}"></script>
        <script
                src="{{ asset('js/vendor/bootstrap/bootstrap.bundle.min.js') }}"></script>

    {% else %}

        {#CDN#}
        <script
                src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

    {% endif %}


    {# OTHER GLOBAL CUSTOM JS #}
    <script>

        const alertsDurationInSeconds = 10;

        // ON DOCUMENT READY
        $(function () {

            // AUTO CLOSE ALERTS IN A FEW SECONDS
            setTimeout(function () {
                $(".alert").alert('close');
            }, alertsDurationInSeconds * 1000);

            // ENABLE ALL TOOLTIPS
            $('[data-toggle="tooltip"], ' +
                '#navbarUserDropdown, ' +
                '#navbarWeatherDropdown'
            ).tooltip({
                html: true,
                animation: true,
                template: '<div class="tooltip" role="tooltip"><div class="arrow"></div>' +
                    '<div class="tooltip-inner bg-dark"></div></div>'
            });
        });

    </script>

    {# CUSTOM JS/CSS VIA WEBPACK #}
    <script src="{{ asset('build/app.js') }}"></script>

{% endblock %}
