<li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle text-{{ navbarFgColor }} p-2 mr-2"
       id="navbarUserDropdown"
       data-toggle="dropdown"
       title="<span class='display-4'>Hello {{ app.user.fullName }}!</span>"
       data-container="body"
       data-placement="left"
       aria-haspopup="true"
       aria-expanded="false">

        <img src="{{ userPhoto }}" width="42px" height="42px" class="rounded-circle mr-2">
        <span>{{ app.user.username }}</span>

    </a>

    <div class=
         "dropdown-menu dropdown-menu-right navbar-{{ navbarBgColor }} bg-{{ navbarBgColor }}"
         aria-labelledby="navbarUserDropdown">

        {#MY ARTICLES#}
        <a class="dropdown-item bg-{{ navbarBgColor }} text-{{ navbarFgColor }}"
           href="{{ path('my_articles') }}">
            <i class="fas fa-random"></i> MY ARTICLES</a>

        {#MY PROFILE#}
        <a class="dropdown-item bg-{{ navbarBgColor }} text-{{ navbarFgColor }}"
           href="{{ path('user_profile', {'goBack':currentUri}) }}">
            <i class="fas fa-user"></i> MY PROFILE</a>

        {#SEND MESSAGE#}
        <a class="dropdown-item bg-{{ navbarBgColor }} text-{{ navbarFgColor }}"
           href="{{ path('messages_new', {'goBack':currentUri}) }}">
            <i class="far fa-envelope"></i> SEND MESSAGE</a>


        <div class="dropdown-divider"></div>

        {#LOGOUT#}
        <a class="dropdown-item bg-{{ navbarBgColor }} text-{{ navbarFgColor }}"
           href="{{ path('security_logout') }}">
            <i class="fas fa-sign-out-alt"></i> LOGOUT</a>

    </div>
</li>
