{% block stylesheets %}

    {# BOOTSTRAP #}
    {% block bootstrap %}

        {% if mode == 'dev' %}

            {#LOCAL#}
            <link rel="stylesheet" href="{{ asset('css/vendor/bootstrap/bootstrap.min.css') }}">

        {% else %}

            {#CDN#}
            <link rel="stylesheet"
                  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        {% endif %}

    {% endblock %}


    {#ICONS#}

    {# FONT AWESOME - CDN #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"#}
          {#integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"#}
          {#crossorigin="anonymous">#}
    {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"#}
    {#integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">#}
    {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"#}
    {#integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">#}


    {# CUSTOM STYLES #}
    {% block customStyles %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}

{% endblock %}
