{% set types = {
    'primary': '',
    'secondary': '',
    'success': '',
    'danger': '',
    'warning': '',
    'info': '',
    'light': '',
    'dark': '',

    'error': 'danger error',
    'nice': 'success nice',
    'bad': 'warning bad',
    'notice': 'info notice',
} %}

{% for key, value in types %}
    {% set v = value?value:key %}
    {% for message in app.session.flashBag.get(key) %}
        <div class="alert alert-{{ v }} alert-dismissible text-center shadow fade show my-1" role="alert">
            {{ message|trans|raw }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}
