{% block header %}

    {% if weather.snowing %}
        {% set themeBgColor = 'dark' %}
        {% set themeFgColor = 'light' %}
    {% elseif weather.forTheBeach %}
        {% set themeBgColor = 'warning' %}
        {% set themeFgColor = 'dark' %}
    {% else %}
        {% set themeBgColor = 'primary' %}
        {% set themeFgColor = 'light' %}
    {% endif %}

    {% set navbarBgColor = backgroundColor|default(themeBgColor) %}
    {% set navbarFgColor = foregroundCOlor|default(themeFgColor) %}

    {% if app.user %}
        {% set user = app.user %}
        {% set userPhoto = asset('uploads/user_photos/' ~ ( user.photo|default('defaultUserImage.svg'))) %}
    {% endif %}

    <header>

        <nav class="navbar fixed-top navbar-expand-md navbar-{{ navbarBgColor }} bg-{{ navbarBgColor }} p-0">
            {#LEFT#}
            {#Button-Left#}
            <button id="navbar-toggle-left" class="custom-toggler navbar-toggler m-2" type="button"
                    data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">

                    {% if app.user %}
                        {#WEATHER#}
                        {% include 'partials/site-header-dropdown-weather.html.twig' %}
                    {% endif %}

                    {#API#}
                    {% if app.user and app.user.isApiUser %}
                        <li class="nav-item active">
                            <a class="nav-link text-{{ navbarFgColor }} p-3"
                               data-toggle="tooltip" title="API Home"
                               href="{{ path('rest_api_index', {'goBack':currentUri}) }}">
                                <i class="fas fa-exchange-alt"></i></a>
                        </li>
                    {% endif %}

                    {#RANDOM ARTICLE#}
                    {% if articlesTotalCount > 1 %}
                        <li class="nav-item">
                            <a class="nav-link text-{{ navbarFgColor }} p-3"
                               data-toggle="tooltip" title="Random Article (from {{ articlesTotalCount }} total)"
                               href="{{ path('article_view_random', {'goBack':currentUri}) }}">
                                <i class="fas fa-random"></i></a>
                        </li>
                    {% endif %}

                    {#CONTEXT MENU#}
                    {% block contextMenu %}{% endblock %}


                    {#BLANK SCREEN#}
                    <li class="nav-item">
                        <a class="nav-link text-{{ navbarFgColor }} p-3"
                           data-toggle="tooltip" title="Clear Screen"
                           href="{{ path('home_blank') }}">
                            <i class="fas fa-desktop"></i></a>
                    </li>


                </ul>
            </div>

            {#CENTER#}
            <div class="order-0">
                <a class="navbar-brand mx-auto text-{{ navbarFgColor }} p-3"
                   data-toggle="tooltip"
                   data-container="body"
                   title="<strong class='display-1'>Welcome!</strong><br /><span class='display-4 text-primary'>See all articles here!</span>"
                   href="{{ path('homepage') }}">
                    {{ title|default('My Awesome App')|upper }}
                </a>
            </div>

            {#RIGHT#}
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    {% if app.user %}

                        <li class="nav-item">
                            <a class="nav-link text-{{ navbarFgColor }} p-3"
                               data-toggle="tooltip" title="Add Article"
                               href="{{ path('article_create',{'goBack':currentUri}) }}">
                                <i class="fas fa-plus"></i></a>
                        </li>

                        {#Admin Dropdown#}
                        {% if app.user.isAdmin() %}
                            {% include 'partials/site-header-dropdown-admin.html.twig' %}
                        {% endif %}

                        {#User Dropdown#}
                        {% include 'partials/site-header-dropdown-user.html.twig' %}

                    {% else %}  {#NO LOGGED IN USER#}

                        <li class="nav-item">
                            <a class="nav-link bg-{{ navbarBgColor }} text-{{ navbarFgColor }} p-3"
                               href="{{ path('user_register', {'goBack':currentUri}) }}">REGISTER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bg-{{ navbarBgColor }} text-{{ navbarFgColor }} p-3"
                               href="{{ path('security_login') }}">LOGIN</a>
                        </li>

                    {% endif %}
                </ul>
            </div>

            {#Button-Right#}
            <button id="navbar-toggle-rigth" class="custom-toggler navbar-toggler m-2" type="button"
                    data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        {#Take the space below the navbar when it is setup as fixed; TODO: Comment out otherwise!#}
        <div class="py-4"></div>
        <div class="py-2"></div>
    </header>
{% endblock %}
