<li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle text-{{ navbarFgColor }} p-3 mr-2"
       id="navbarAdminDropdown"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">

        <span><i class="fas fa-toolbox"></i> ADMIN</span>

    </a>

    <div class=
         "dropdown-menu dropdown-menu-right navbar-{{ navbarBgColor }} bg-{{ navbarBgColor }}"
         aria-labelledby="navbarAdminDropdown">

        <a class="dropdown-item bg-{{ navbarBgColor }} text-{{ navbarFgColor }}"
           data-toggle="tooltip" title="Easy Admin"
           href="/admin"><i class="fas fa-hammer"></i> ADMIN</a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item bg-{{ navbarBgColor }} text-{{ navbarFgColor }}"
           data-toggle="tooltip" title="My Admin Home"
           href="{{ path('admin_home', {'goBack':currentUri}) }}">
            <i class="fas fa-screwdriver"></i> MY ADMIN</a>

    </div>
</li>
