<li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle text-{{ navbarFgColor }} p-3 mr-2"
       id="navbarWeatherDropdown"
       data-toggle="dropdown"
       title="<span class='display-4'>Theme</span>"
       data-container="body"
       data-placement="right"
       aria-haspopup="true"
       aria-expanded="false">

        {% if weather.snowing %}
            <i class="far fa-snowflake"></i>
        {% elseif weather.forTheSky %}
            <i class="far fa-sun"></i>
        {% elseif weather.forTheBeach %}
            <i class="fas fa-umbrella-beach"></i>
        {% endif %}

    </a>

    <div class=
         "dropdown-menu dropdown-menu-left navbar-{{ navbarBgColor }} bg-{{ navbarBgColor }}"
         aria-labelledby="navbarWeatherDropdown">

        {% if not weather.snowing %}

            {#SNOW#}
            <a class="dropdown-item bg-{{ navbarBgColor }} text-{{ navbarFgColor }}"
               data-toggle="tooltip" title="I like the snow"
               href="{{ path('weather_snow', {'currentUri':currentUri}) }}">
                <i class="far fa-snowflake display-4 m-4"></i></a>

        {% endif %}

        {% if not weather.forTheSky %}

            {#SKY#}
            <a class="dropdown-item bg-{{ navbarBgColor }} text-{{ navbarFgColor }}"
               data-toggle="tooltip" title="I like to fly"
               href="{{ path('weather_sky', {'currentUri':currentUri}) }}">
                <i class="far fa-sun display-4 m-4"></i></a>

        {% endif %}

        {% if not weather.forTheBeach %}

            {#BEACH#}
            <a class="dropdown-item bg-{{ navbarBgColor }} text-{{ navbarFgColor }}"
               data-toggle="tooltip" title="I like the beach"
               href="{{ path('weather_beach', {'currentUri':currentUri}) }}">
                <i class="fas fa-umbrella-beach display-4 m-4"></i></a>

        {% endif %}

    </div>
</li>
