{% block footer %}

    {% if weather.snowing %}
        {% set themeBgColor = 'dark' %}
        {% set themeFgColor = 'light' %}
    {% elseif weather.forTheBeach %}
        {% set themeBgColor = 'warning' %}
        {% set themeFgColor = 'dark' %}
    {% else %}
        {% set themeBgColor = 'primary' %}
        {% set themeFgColor = 'light' %}
    {% endif %}

    {#Take the space underneath the footer when it is setup as fixed; TODO: Comment out otherwise!#}
    <div class="py-4"></div>
    <div class="py-2"></div>

    {#FOOTER#}
    <footer id="main-footer"
            class="footer container-fluid fixed-bottom
            bg-{{ backgroundColor|default(themeBgColor) }} text-{{ foregroundColor|default(themeFgColor) }}">
        <div class="container text-center">
            <p>&copy; {{ "now"|date("Y") }} - {{ title|default('My Awesome App') }}</p>
        </div>
    </footer>

{% endblock %}
