{#ARTICLE CARD#}
<article class="card h-100 shadow">

    {# HEADER #}
    <header {{ include('partials/tooltip-article-category-and-tags.html.twig') }} class="card-header bg-success py-1">
        <h4>{{ article.title }}</h4>
    </header>

    {# BODY #}
    <div class="row card-body">
        <article class="p-2">

            <a data-toggle="tooltip" title="<i class='far fa-eye text-primary'></i> View Article..."
               href="{{ path('article_view', {'id':article.id, 'goBack':currentUri}) }}">
                <img src="{{ article.imageUrl|default('/images/article.jpg') }}"
                     class="float-left border shadow m-2" align="left"
                     style="max-width: 200px; max-height: 200px;">
            </a>

            {{ article.summary|raw }}
        </article>
    </div>

    {# FOOTER #}
    <footer class="card-footer p-1">

        <div class="float-left">

            <span class="text-success">{{ article.dateAdded|date('d.m.Y') }}</span>
            by
            <a data-toggle="tooltip" title="See all articles by {{ article.author.fullName|upper }}"
               href="{{ path('user_articles', {'id':article.author.id}) }}">
                {{ article.author.fullName|upper }}
            </a>
            <br>
            <span data-toggle="tooltip" title="Views">
                    <i class="far fa-eye text-primary"></i>: {{ article.viewCount }} </span>
            | <span data-toggle="tooltip" title="Likes">
                    <i class="fas fa-thumbs-up text-success"></i>: {{ article.likesCount }}</span>
            | <span data-toggle="tooltip" title="Dislikes">
                    <i class="fas fa-thumbs-down text-danger"></i>: {{ article.dislikesCount }}</span>
            | <span data-toggle="tooltip" title="Total Comments">
                    <i class="far fa-comments text-primary"></i>: {{ article.comments|length }}</span>

        </div>

        <div class="float-right">
            {% include 'partials/links-article-edit-delete.html.twig' %}
        </div>

    </footer>

</article>
