<div class="card shadow border-secondary my-1 py-0 pl-2 pr-0">
    <div>
        {# CATEGORY #}
        <a href="{{ path('categorized_articles', {'categoryId':category.id}) }}">
            <h5 class="float-left text-primary">{{ category.name }} ({{ category.articles|length }})</h5>
        </a>
    </div>

    {% if category.description %}
        <div class="text-left">{{ category.description|nl2br }}</div>
    {% endif %}

    {# CHILDREN #}
    {% if category.children|length %}

        {#<hr class="bg-primary my-1">#}

        {% for c in category.children %}
            {% include 'partials/snippet-category.html.twig' with {
                'parentId': category.id,
                'category': c
            } %}
        {% endfor %}
    {% endif %}

</div>
