{# @var author \SoftUniBlogBundle\Entity\User #}
{% set imgSize = 100 %}

{#{% set authorPhoto = asset('uploads/user_photos/' ~ ( author.photo is empty ? 'defaultUserImage.svg' : author.photo )) %}#}
{% set authorPhoto = asset('uploads/user_photos/' ~ ( author.photo|default('defaultUserImage.svg'))) %}

<div class="row d-flex justify-content-around align-items-center rounded border border-primary shadow hover-scale m-2 p-2">

    <h3 class="m-2" style="width: 160px">{{ author.fullName }}</h3>

    <div class="d-flex">

        <a class="float-left rounded-circle m-1" href="{{ path('user_articles', {'id': author.id}) }}">
            <img src="{{ authorPhoto }}"
                 data-toggle="tooltip" title="See all articles by {{ author.fullName|upper }}"
                 class="rounded-circle border shadow"
                 width="{{ imgSize }}" height="{{ imgSize }}">
        </a>

        <h2 class="d-flex justify-content-center align-items-center border rounded-circle shadow bg-success m-1"
            style="width: {{ imgSize }}px; height: {{ imgSize }}px;">
            {{ author.articles|length }}
        </h2>

    </div>
</div>
