{# @var tag \SoftUniBlogBundle\Entity\Tag #}

{% set imgSize = 100 %}

<div class="row d-flex justify-content-around align-items-center rounded border border-primary shadow hover-scale m-1">

    {#<div class="d-flex">#}
        {#<h2 class="d-flex justify-content-center align-items-center border rounded-circle shadow bg-success m-1"#}
            {#style="width: {{ imgSize }}px; height: {{ imgSize }}px;">#}
            {#{{ tag.articles|length }}#}
        {#</h2>#}
    {#</div>#}

    <a href="{{ path('tagged_articles', {'tagId':tag.id}) }}">
        <h6 class="m-1" style="width: 160px;">{{ tag.name }} ({{ tag.articles|length }})</h6>
    </a>
</div>
