

<div class="col-{{ colWidth }} my-2">
    <a data-toggle="tooltip"
       data-container="body"
       title="<p class='display-1'>{{ tileTitle }}</p>"
       href="{{ path( toPath, {'goBack': currentUri}) }}"
       class="btn btn-outline-primary w-100">

        <p class="display-1 w-100 my-5">
            <i class='{{ iconClass }}'></i>
        </p>

    </a>
</div>
