<div class="card shadow border-secondary my-2 p-2">
    <div>
        <h5 class="float-left">{{ comment.title }}</h5>

        {#COMMENT#}
        <a class="btn btn-outline-primary btn-xs float-right"
           data-toggle="tooltip" title="Comment..."
           href="{{ path('article_subComment',{
               'articleId':article.id,
               'parentId': comment.id|default(0),
               'goBack':currentUri
           }) }}">
            <i class="far fa-comments"></i>
        </a>
    </div>

    <p>{{ comment.description|nl2br }}</p>
    <small class="text-secondary">{{ comment.createdAt|date('Y-m-d H:i') }} by {{ comment.user.fullName }}</small>

    {% if comment.replies|length %}
        <hr class="bg-primary my-1">
        {% for c in comment.replies %}
            {% include 'partials/snippet-comment.html.twig' with {
                'articleId': article.id,
                'parentId': comment.id,
                'comment': c
            } %}
        {% endfor %}
    {% endif %}

</div>
