data-toggle="tooltip"
data-container="body"
title="<span class='display-4'>Category:</span>
<span class='display-4 text-primary'>{{ article.category|default('-- None --') }}</span>
<p class='text-white my-1' style='font-size:1.5em;'>Tags:</p>
{% if article.tags|length %}
    <span class='text-primary' style='font-size:1.5em;'>{{ article.tags|sortByProp|join('<br>')|raw }}</span>
{% else %}
    <span class='text-danger' style='font-size:1.5em;'>-- None --</span>
{% endif %}"
