
$hiddenWidthOnEachSide: 10vw;
#beach-container {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -$hiddenWidthOnEachSide;
  width: 100vw + 2 * $hiddenWidthOnEachSide;
  height: 100vh;
}

.sea, .sky, .sun, .light, .bird1l, .bird1r, .bird2l, .bird2r, .fin, .wave {
  position: absolute;
}

//SKY
.sky {
  opacity: .8;
  width: 100%;
  height: 70%;
  top: 0;
  background: radial-gradient(at 50% 70%, #820, #610, #400, #100);
  z-index: 30;
  animation: lightup 24s ease forwards;

  &:before {
    background-image: radial-gradient(at 50% 30%, #d8fdff, #88f5f7);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    animation: animateGradientSky 24s ease forwards;
  }
}

@keyframes lightup {
  0% {
    opacity: 0.8
  }

  100% {
    opacity: 0.55
  }
}

@keyframes animateGradientSky {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


//SUN
$sunDiameter: 150px;
.sun {
  width: $sunDiameter;
  height: $sunDiameter;
  border-radius: 50%;
  left: 50%;
  margin-left: -$sunDiameter/2;
  z-index: 40;
  background: linear-gradient(#ff0, #a00);
  box-shadow: 0 0 40px 6px #f20, 0 0 150px 10px #f33;
  animation: rise 24s ease forwards;

  &:before {
    border-radius: inherit;
    background-image: linear-gradient(#ff0, #d80);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    animation: animateGradientSun 24s ease forwards;
  }
}

@keyframes rise {
  0% {
    top: 70%;
  }
  100% {
    top: 15%;
  }
}

@keyframes animateGradientSun {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


//BIRDS
$birdSize: 2px;
$birdColor: #bababa;
$birdsDelay: 16s;
$birdsGap: 10s;
.bird1l {
  z-index: 70;
  opacity: 1;
  top: 45%;
  left: 0;
  width: 10 * $birdSize;
  height: 8 * $birdSize;
  border: 2 * $birdSize solid $birdColor;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(-75deg);
  animation: move 25s linear infinite $birdsDelay, flap .5s linear alternate infinite $birdsDelay;
}

.bird1r {
  z-index: 70;
  opacity: 1;
  top: 45%;
  width: 10 * $birdSize;
  height: 8 * $birdSize;
  border: 2 * $birdSize solid $birdColor;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotateZ(75deg);
  margin: 0 6 * $birdSize;
  animation: mover 25s linear infinite $birdsDelay, flap .5s linear alternate infinite $birdsDelay;
}

.bird2l {
  z-index: 70;
  opacity: 1;
  top: 40%;
  left: 0;
  width: 10 * $birdSize;
  height: 8 * $birdSize;
  border: 2 * $birdSize solid $birdColor;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ(-80deg);
  animation: move 25s linear infinite $birdsDelay + $birdsGap, flap .5s linear alternate infinite $birdsDelay + $birdsGap;
}

.bird2r {
  z-index: 70;
  opacity: 1;
  top: 40%;
  width: 10 * $birdSize;
  height: 8 * $birdSize;
  border: 2 * $birdSize solid $birdColor;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  transform: rotateZ(80deg);
  margin: 0 4 * $birdSize;
  animation: mover 25s linear infinite $birdsDelay + $birdsGap, flap .5s linear alternate infinite $birdsDelay + $birdsGap;
}

@keyframes move {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes mover {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes flap {
  0% {
    border-radius: 90%;
  }
  100% {
    border-radius: 10%;
  }
}


//SEA
.sea {
  width: 100%;
  height: 30%;
  top: 70%;
  background: radial-gradient(at 50% 0%, #46f, #466);
  z-index: 60;
}

//LIGHT
.light {
  opacity: .5;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(at 50% 0%, #ff0, transparent);
  z-index: 60;
  animation: over 12s ease forwards;
}

@keyframes over {
  0% {
    opacity: 0
  }

  100% {
    opacity: .2
  }
}

//SHARK
.fin {
  border: 30px solid black;
  top: 85%;
  left: 100%;
  z-index: 100;
  border-left: 30px solid transparent;
  border-top: 0 solid transparent;
  border-right: 10px solid transparent;
  border-radius: 0 0 2px 10px;
  animation: swim 30s linear forwards 10s infinite;
}

.wave {
  margin: 26px 7px;
  border-left: 3px solid transparent;
  border-top: 6px solid rgba(50, 50, 140, .3);
  border-right: 50px solid transparent;
  transform: rotatez(6deg);
  z-index: 60;
}

@keyframes swim {
  0% {
    left: 100%;
  }
  100% {
    left: -25%
  }
}
