{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
{#{% spaceless %}#}

{% set currentUri = app.request.uri %}
{% set currentPath = app.request.pathinfo %}
{% set goBack = goBack|default(path('homepage')) %}
{% set goBack = goBack|length + currentUri|length > 1800 ? path('homepage') : goBack %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <title>{% block title %}My Awesome App{% endblock %}</title>

    {#STYLESHEETS#}
    {% block stylesheets %}
        {% include 'partials/site-stylesheets.html.twig' %}
    {% endblock %}

</head>

{# BODY ID#}
<body id="{% block body_id %}html-body{% endblock %}"
      class="{{ weather.isSnowing?'bg-secondary':'' }} {% block body_class %}{% endblock %}">


{# HEADER #}
{% block header %}{% include 'partials/site-header.html.twig' %}{% endblock %}

{# BODY CONTAINER #}
<div class="container-fluid">
    {% block body %}

        {# BACKROUND ANIMATION #}
        {% include 'partials/background-animation.html.twig' %}

        {# FLASH MESSAGES #}
        {% block flashMessages %}{% include 'partials/site-flash-messages.html.twig' %}{% endblock %}

        <div class="row">

            {# ASIDE LEFT #}
            {% block asideLeft %}{% endblock %}

            {# MAIN #}
            <main id="main" class="col">
                {% block main %}{% endblock %}
            </main>

            {# ASIDE RIGHT #}
            {% block asideRight %}{% endblock %}

        </div>

    {% endblock %}
</div>

{# FOOTER #}
{% include 'partials/site-footer.html.twig' %}

{# JAVASCRIPTS #}
{% block javascripts %}
    {% include 'partials/site-javascripts.html.twig' %}
{% endblock %}

</body>
</html>
{#{% endspaceless %}#}
