{% extends 'base.html.twig' %}

{# MAIN #}

{% block main %}

    <div class="container-fluid my-3">

        {% if articles|length %}
            <h2 class="text-center">All Articles: {{ articles.getTotalItemCount }}</h2>
        {% endif %}

        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig' with {'pagination':articles, 'class':'mx-auto my-3'} %}

        {#ARTICLES#}
        {% for i, article in articles %}
            <div class="">{% include 'partials/snippet-article-admin.html.twig' %}</div>
        {% else %}
            <h2 class="text-center">No Articles</h2>
        {% endfor %}


        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig' with {'pagination':articles, 'class':'mx-auto my-3'} %}

    </div>

{% endblock %}
