{% extends 'base.html.twig' %}

{% block main %}

    <div class="form col-sm-9 col-lg-6 mx-auto my-5 pt-3 bg-light rounded border shadow">

        {{ form_start(form) }}

        <legend>Change a password</legend>

        {{ form_widget(form) }}

        {#BUTTONS#}
        <div class="my-3">
            {% include 'partials/link-cancel.html.twig' %}
            {% include 'partials/button-update.html.twig' %}
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
