{% extends "base.html.twig" %}

{% block main %}

    {% set itemsPerRow = 3 %}
    {% set colWidth = 12 / itemsPerRow %}

    <div class="container card bg-light shadow my-5 py-3">

        <h1>Admin Panel</h1>

        <div class="row mt-3">

            {#ARTICLES#}
            {% include 'partials/snippet-admin-tile.html.twig' with {
                'tileTitle': 'Manage Articles (' ~ articlesTotalCount ~ ')',
                'toPath': 'admin_articles_index',
                'iconClass': 'far fa-newspaper',
            } %}

            {#TAGS#}
            {% include 'partials/snippet-admin-tile.html.twig' with {
                'tileTitle': 'Manage Tags (' ~ tagsTotalCount ~ ')',
                'toPath': 'tags_index',
                'iconClass': 'fas fa-tags',
            } %}

            {#CATEGORIES#}
            {% include 'partials/snippet-admin-tile.html.twig' with {
                'tileTitle': 'Manage Categories (' ~ categoriesTotalCount ~ ')',
                'toPath': 'categories_index',
                'iconClass': 'fas fa-list-alt',
            } %}

            {#ROLES#}
            {% include 'partials/snippet-admin-tile.html.twig' with {
                'tileTitle': 'Manage Roles (' ~ rolesTotalCount ~ ')',
                'toPath': 'roles_index',
                'iconClass': 'fas fa-users',
            } %}

            {#CHANGE PASSWORDS#}
            {% include 'partials/snippet-admin-tile.html.twig' with {
                'tileTitle': "Change Users' Passwords (" ~ usersTotalCount ~ ')',
                'toPath': 'admin_change_a_password',
                'iconClass': 'fas fa-key',
            } %}

            {#TODO#}
            {% include 'partials/snippet-admin-tile.html.twig' with {
                'tileTitle': "Not Implemented",
                'toPath': 'admin_home',
                'iconClass': 'fas fa-ban',
            } %}

        </div>

    </div>

{% endblock %}
