{% extends "base.html.twig" %}

{% block main %}

    <div class="container card bg-light my-5 py-3">
        <h1>Admin - Manage Roles</h1>

        <h5 class="text-success">Select an user and a role and click the Toggle button.</h5>
        <h5 class="text-danger">You cannot turn off your own ADMIN role.</h5>

        <form method="post" class="form w-100">

            <input type="hidden" name="goBack" value="{{ goBack }}">

            {#USERS#}
            <div class="form-group">
                <label for="user_id">USERS</label>
                <select name="user_id" id="user_id" class="form-control">

                    {% for user in users %}
                        {% set isSelected = ((user.id == selectedUserId|default(0)) ? 'selected' ) %}
                        <option value="{{ user.id }}" {{ isSelected }}>
                            {{ user.fullName|upper }} - {{ user.roles|join(' | ')|replace({ ('ROLE_'): '' }) }}
                        </option>
                    {% endfor %}

                </select>
            </div>

            {#ROLES#}
            <div class="form-group">
                <label for="role_id">ROLES</label>
                <select name="role_id" id="role_id" class="form-control">

                    {% for role in roles %}
                        {% set selected = ((role.id == selectedRoleId|default(0)) ? 'selected') %}
                        <option value="{{ role.id }}" {{ selected }}>
                            {{ role.name|replace({ ('ROLE_'): '' }) }}
                        </option>
                    {% endfor %}

                </select>
            </div>

            {#BACK BUTTON#}
            {% include 'partials/link-go-back.html.twig' %}
            
            {#TOGGLE BUTTON#}
            <button type="submit" value="Toggle" class="btn btn-outline-primary">
                <i class="fas fa-toggle-off"></i> Toggle
            </button>

        </form>

    </div>

{% endblock %}
