{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-sm-12 col-lg-10 mx-auto my-5 pt-3 bg-light rounded border shadow">

        <h1>API</h1>

        <a href="/api/doc" class="btn btn-primary my-3">API DOC</a>

        <table class="table table-striped table-bordered table-hover">

            <thead>

            <th>EndPoint</th>
            <th>JSON</th>
            <th>XML</th>
            <th>YML</th>

            </thead>

            <tbody>
            <tr>
                <td>Articles</td>
                <td><a href="{{ path('rest_api_articles') }}">GET</a></td>
                <td><a href="{{ path('rest_api_articles',{'format':'xml'}) }}">GET</a></td>
                <td><a href="{{ path('rest_api_articles',{'format':'yml'}) }}">GET</a></td>
            </tr>
            {#<tr>#}
                {#<td>Articles/<input type="text"></td>#}
                {#<td><a href="{{ path('rest_api_articles') }}">GET</a></td>#}
                {#<td><a href="{{ path('rest_api_articles',{'format':'xml'}) }}">GET</a></td>#}
                {#<td><a href="{{ path('rest_api_articles',{'format':'yml'}) }}">GET</a></td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td></td>#}
                {#<td></td>#}
                {#<td></td>#}
                {#<td></td>#}
            {#</tr>#}
            {#<tr>#}
                {#<td></td>#}
                {#<td></td>#}
                {#<td></td>#}
                {#<td></td>#}
            {#</tr>#}
            </tbody>

        </table>

    </div>

{% endblock %}