{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-sm-9 col-lg-6 mx-auto my-5 p-3 bg-light rounded border shadow">

        <div class="d-flex d-flex justify-content-between align-items-center">

            <h1 class="float-left">Messages list</h1>

            <a class="btn btn-outline-success float-right"
               href="{{ path('messages_new', {'goBack':currentUri}) }}"><i class="far fa-envelope"></i> Add</a>
        </div>

        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig'
            with {'pagination':messages, 'class':'mx-auto my-2'} %}

        {# TABLE #}
        <table class="table table-striped table-hover table-bordered">
            <thead class="bg-primary text-white">
            <tr>
                {#<th>Id</th>#}
                <th>Timestamp</th>
                <th>From</th>
                <th>To</th>
                <th>Title</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    {#<td><a href="{{ path('messages_show', { 'id': message.id }) }}">{{ message.id }}</a></td>#}
                    <td>{% if message.timestamp %}{{ message.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ message.sender }}</td>
                    <td>{{ message.recipient }}</td>
                    <td>{{ message.title }}</td>
                    <td>{{ message.content }}</td>
                    <td>
                        {# show #}
                        <a class="btn btn-sm btn-outline-success"
                           href="{{ path('messages_show', { 'id': message.id,'goBack':currentUri}) }}">
                            <i class="far fa-eye"></i> show</a>

                        {# edit #}
                        <a class="btn btn-sm btn-outline-primary"
                           data-toggle="tooltip"
                           title="Edit Message <strong class='text-primary'>{{ message }}</strong>."
                           href="{{ path('messages_edit', { 'id': message.id,'goBack':currentUri}) }}">
                            <i class="far fa-edit"></i> edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig'
            with {'pagination':messages, 'class':'mx-auto my-2'} %}

    </div>

{% endblock %}
