{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-sm-9 col-lg-6 mx-auto my-5 p-3 bg-light rounded border shadow">

        <h1>Send Message</h1>

        {% include 'partials/form-add.html.twig' with {
            'text': 'Send',
            'iconClass': 'far fa-share-square',
        } %}

    </div>

{% endblock %}
