{#PAGINATOR#}
{% if messagesReceived %}
    {% include 'partials/knp-paginator.html.twig' with {'pagination':messagesReceived, 'class':'mx-auto my-2'} %}
{% endif %}

{# TABLE #}
<table class="table table-striped table-hover table-bordered">
    <thead class="bg-primary text-white">
    <tr>
        <th>Time</th>
        <th>From</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    {% for message in messagesReceived %}

        <tr data-toggle="tooltip"
            title="<p class='text-primary'>Click to open!</p> {{ message.content|striptags|slice(0, 40) }} ..."
            onclick="document.location = '{{ path('messages_show', {'id': message.id}) }}';"
            style="cursor: pointer;">


            <td>{% if message.timestamp %}{{ message.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ message.sender.fullName }}</td>
            <td>{{ message.title }}</td>

        </tr>

    {% endfor %}
    </tbody>
</table>

{#PAGINATOR#}
{% if messagesReceived %}
    {% include 'partials/knp-paginator.html.twig' with {'pagination':messagesReceived, 'class':'mx-auto my-2'} %}
{% endif %}