{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-sm-9 col-lg-6 mx-auto my-5 p-3 bg-light rounded border shadow">

        <h1>Message</h1>

        {# TABLE #}
        {% import 'partials/macro-table-horizontal.html.twig' as forms %}
        {{ forms.table([
            ['From',message.sender.fullName],
            ['To',message.recipient.fullName],
            ['Title',message.title],
            ['Content',message.content],
            ['Timestamp',message.timestamp ? message.timestamp|date('Y-m-d H:i:s') : ''],
        ]) }}


        {# BACK button #}
        {% include 'partials/link-go-back.html.twig' %}

        {# go to EDIT button #}
        {#<a href="{{ path('messages_edit', {#}
        {#'id': message.id,#}
        {#'goBack': currentUri,#}
        {#}) }}"#}
        {#data-toggle="tooltip"#}
        {#title="Edit Message <strong class='text-primary'>{{ message }}</strong>."#}
        {#class="btn btn-success"><i class="far fa-edit"></i> Edit...</a>#}

        {# DELETE FORM #}
        <div class="float-right">
            {% include 'partials/form-message-delete.html.twig' %}
        </div>

    </div>

{% endblock %}
