{% extends 'base.html.twig' %}

{% block body_id 'body_change_profile_photo' %}

{% block main %}

    {% set userPhoto = asset('uploads/user_photos/' ~ ( user.photo is empty ? 'defaultUserImage.svg' : user.photo )) %}

    <form enctype="multipart/form-data"
          class="form col-sm-9 col-lg-6 mx-auto my-5 pt-3 bg-light rounded border shadow"
          method="post">

        <div class="row p-3">
            <div class="col">
                <h1 class="pt-3">Profile Photo</h1>
                <p class="text-secondary pt-3">
                    To clear your photo: <br>
                    Do not select a file, just click the Update button.
                </p>
            </div>
            <div class="col">
                <img src="{{ userPhoto }}" width="150px" height="150px"
                     class="float-right rounded-circle shadow user-photo">
            </div>
        </div>

        {{ form_row(form._token) }}
        <div class="text-danger list-style-none">{{ form_errors(form) }}</div>

        {% include 'partials/file-upload.html.twig' with {'value': user.photo } %}

        {#BUTTONS#}
        <fieldset class="form-group mt-3">
            {% include 'partials/link-cancel.html.twig' %}
            {% include 'partials/button-update.html.twig' %}
        </fieldset>

    </form>

{% endblock %}



{#JAVASCRIPTS#}
{% block javascripts %}

    {{ parent() }}

    {# FILE UPLOAD #}
    <script src="{{ asset('js/app/file-upload.js') }}"></script>

{% endblock %}

