{% extends 'base.html.twig' %}

{% block main %}

    <form class="form col-sm-9 col-lg-6 mx-auto my-5 pt-3 bg-light rounded border shadow"
          method="post">

        <legend>Change password</legend>

        {{ form_row(form._token) }}
        <div class="text-danger list-style-none">{{ form_errors(form) }}</div>

        {#PASSWORD#}
        <div class="my-3">
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first, {'attr': {'autofocus':'autofocus'}}) }}
        </div>

        {#REPEAT PASSWORD#}
        <div class="my-3">
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second) }}
        </div>

        {#BUTTONS#}
        <div class="my-3">
            {% include 'partials/link-cancel.html.twig' %}
            {% include 'partials/button-update.html.twig' %}
        </div>

    </form>

{% endblock %}
