{% extends 'base.html.twig' %}

{% block main %}

    <form class="form col-sm-9 col-lg-6 mx-auto my-5 pt-3 bg-light rounded border shadow"
          method="POST"
          data-toggle="tooltip" title="Click your profile photo to change it!">

        <div class="row p-3">
            <h1 class="pt-3">Profile</h1>

            {#PHOTO#}
            <a href="{{ path('user_change_profile_photo', {'goBack':currentUri}) }}" class="ml-auto"
               data-toggle="tooltip" title="Change your profile photo.">
                <img src="{{ asset('uploads/user_photos/' ~ user.photo|default('defaultUserImage.svg')) }}"
                     width="100px" height="100px" class="rounded-circle shadow user-photo">
            </a>
        </div>

        {{ form_row(form._token) }}
        <div class="text-danger list-style-none">{{ form_errors(form) }}</div>

        {#EMAIL#}
        <div class="my-3">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        {#FULL NAME#}
        <div class="my-3">
            {{ form_label(form.fullName) }}
            {{ form_widget(form.fullName) }}
        </div>

        {#BUTTONS#}
        <div class="my-3">
            {% include 'partials/link-cancel.html.twig' %}
            {% include 'partials/button-update.html.twig' %}
            <div class="float-right">
                {% include 'partials/link-password-change.html.twig' %}
            </div>
        </div>

    </form>

{% endblock %}
