{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block main %}

    <div class="form col-sm-9 col-lg-6 mx-auto my-5 bg-light rounded border shadow">

        {{ form_start(form) }}

        <legend>Register</legend>

        {{ form_errors(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.password) }}

        {{ form_label(form.photo) }}
        {% include 'partials/file-upload.html.twig' with {'value': form.photo } %}
        {% do form.photo.setRendered %}

        {{ form_row(form.termsAgreed) }}

        <div class="form-group">
            <a class="btn btn-outline-danger" href="{{ goBack }}"><i class="fas fa-ban"></i> Cancel</a>
            <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i> Submit</button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}

