{% extends 'base.html.twig' %}

{% block body_id %}body-enlarge-image{% endblock %}

{% block main %}
    <div class="container my-2 p-3 bg-light rounded border shadow text-center">
        <img src="{{ uri }}" class="w-100 mh-100 shadow">
        {% include 'partials/link-go-back.html.twig' with {'classes':'mt-3'} %}
    </div>
{% endblock %}
