{% extends 'base.html.twig' %}


{# MAIN #}

{% block main %}

    {% set articlesPerRow = 2 %}

    <div class="container my-3">

        {% if articles|length %}
            <h2 class="text-center">
                <span class=" bg-primary text-white rounded px-2">All Articles: {{ articles.getTotalItemCount }}</span>
            </h2>
        {% endif %}

        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig'
            with {'pagination':articles, 'class':'mx-auto my-3'} %}

        {#ARTICLES#}
        {% for i, article in articles %}

            {% set r = ((i % articlesPerRow) == 0) %}

            {% if r %}<div class="row my-4">{% endif %}
            <div class="col-lg-{{ 12 / articlesPerRow }}">
                {% include 'partials/snippet-article-user.html.twig' %}
            </div>
            {% if loop.last or ( (i % articlesPerRow) == articlesPerRow - 1 ) %}</div>{% endif %}

        {% else %}
            <h2 class="text-center">No Articles</h2>
        {% endfor %}



        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig'
            with {'pagination':articles, 'class':'mx-auto my-3'} %}

    </div>

{% endblock %}





{# ASIDE LEFT #}

{% block asideLeft %}

    <aside class="col-lg-3 mx-auto my-3 text-center">

        {% include 'partials/homeAccor1.html.twig' %}

        <hr class="bg-primary border border-primary">

    </aside>

{% endblock %}





{# ASIDE RIGHT #}

{% block asideRight %}

    <aside class="col-lg-3 mx-auto my-3 text-center">

        {% include 'partials/homeAccor2.html.twig' %}

        <hr class="bg-primary border border-primary">

    </aside>

{% endblock %}




{#JAVASCRIPTS#}
{% block javascripts %}

    {{ parent() }}

    {#ACCORDIONS#}
    <script src="{{ asset('js/app/accordions.js') }}"></script>

    {#TABS#}
    <script src="{{ asset('js/app/tabs.js') }}"></script>

{% endblock %}
