{% extends 'base.html.twig' %}

{% block main %}

    <div class="row">

        <form class="form col-sm-12 col-lg-10 mx-auto my-5 pt-3 bg-light rounded border shadow"
              action="{{ path('article_create') }}" method="POST">

            <fieldset>

                <legend>New Article</legend>

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="form-group">
                    {% include 'partials/link-cancel.html.twig' %}
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Submit</button>
                </div>

                {{ form_end(form) }}

            </fieldset>

        </form>

    </div>

{% endblock %}
