{% extends 'base.html.twig' %}

{% block main %}

    {% set imageUrl = article.imageUrl is empty
        ? '/images/article.jpg'
        : article.imageUrl %}

    <div class="form col-sm-9 col-lg-6 mx-auto my-5 pt-3 bg-light rounded border shadow">

        <legend>Delete Article</legend>

        {{ form_start(form) }}

        <img src="{{ imageUrl }}" width="200px" class="my-3 shadow">


        {{ form_widget(form) }}

        <div class="form-group">
            {% include 'partials/link-cancel.html.twig' %}
            {% include 'partials/button-delete.html.twig' %}
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
