{% extends 'base.html.twig' %}

{% block main %}

    {% set imageUrl = article.imageUrl is empty
        ? '/images/article.jpg'
        : article.imageUrl %}

    <div class="col-sm-12 col-lg-10 mx-auto my-5 pt-3 bg-light rounded border shadow">

        {{ form_start(form) }}
        <legend>Edit Article</legend>

        <div class="row text-center">
            <a class="mx-auto"
               data-toggle="tooltip" title="Enlarge image."
               href="{{ path('enlarge_image',{
                   'uri':imageUrl,
                   'goBack':currentUri
               }) }}">
                <img src="{{ imageUrl }}" class="img-fluid border hover-scale shadow my-3"
                 style="max-width: 70%; height: auto;">
            </a>
        </div>

        {{ form_widget(form) }}


        <div class="form-group">
            {% include 'partials/link-cancel.html.twig' %}
            {% include '/partials/button-update.html.twig' %}
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% use 'partials/site-header.html.twig' %}
{% block contextMenu %}
    <div class="bg-light rounded p-2">
        {% include 'partials/link-cancel.html.twig' %}
        {% include 'partials/button-update-js.html.twig' with {'formName': 'article'} %}
    </div>
{% endblock %}