{% extends 'base.html.twig' %}

{% block main %}

    {% set articlesPerRow = 2 %}

    {% if author %}
        {#{% set authorPhoto = asset('uploads/user_photos/' ~#}
        {#( author.photo is empty ? 'defaultUserImage.svg' :author.photo )) %}#}
        {% set authorPhoto = asset('uploads/user_photos/' ~ ( author.photo|default('defaultUserImage.svg'))) %}
    {% endif %}

    <div class="container my-3">

        {% if articles|length %}
            <h2 class="text-center bg-white rounded my-3 py-3">
                {{ mainTitle|raw }}
                {% if author %}
                    <img src="{{ authorPhoto }}" width="100px" height="100px" class="rounded-circle shadow user-photo">
                {% endif %}
                Total: {{ articles.getTotalItemCount }}
            </h2>
        {% endif %}

        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig' with {'pagination':articles, 'class':'mx-auto my-3'} %}

        {#ARTICLES#}
        {% for i, article in articles %}
            {% set r = ((i % articlesPerRow) == 0) %}
            {% if r %}<div class="row my-4">{% endif %}
            <div class="col-lg-6">{% include 'partials/snippet-article-user.html.twig' %}</div>
            {% if loop.last or ((i % articlesPerRow) == articlesPerRow-1) %}</div>{% endif %}
        {% else %}
            <h2 class="text-center bg-white rounded my-4 py-3">No Articles</h2>
        {% endfor %}

        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig' with {'pagination':articles, 'class':'mx-auto my-3'} %}

    </div>

{% endblock %}



{# ASIDE LEFT #}
{% block asideLeft %}
    <aside class="col-lg-3 my-3 text-center">
        {% include 'partials/homeAccor1.html.twig' %}
        <hr class="bg-primary border border-primary">
    </aside>
{% endblock %}


{# ASIDE RIGHT #}
{% block asideRight %}
    <aside class="col-lg-3 my-3 text-center">
        {% include 'partials/homeAccor2.html.twig' %}
        <hr class="bg-primary border border-primary">
    </aside>
{% endblock %}



{#JAVASCRIPTS#}
{% block javascripts %}

    {{ parent() }}

    {#ACCORDIONS#}
    <script src="{{ asset('js/app/accordions.js') }}"></script>

{% endblock %}
