{% extends 'base.html.twig' %}

{% block main %}

    {# @var article \SoftUniBlogBundle\Entity\Article #}

    {# @var user \SoftUniBlogBundle\Entity\User #}
    {% set user = app.getUser() %}

    {% set imageUrl = article.imageUrl is empty
        ? asset('/images/article.jpg')
        : article.imageUrl %}

    <article class="card col-sm-12 col-lg-10 mx-auto my-5 p-3 bg-light rounded border shadow">

        {#HEADER#}
        <header>
            <h2 {{ include('partials/tooltip-article-category-and-tags.html.twig') }} class="float-left">
                {{ article.title }}
            </h2>
            <span class="float-right">
                {% include 'partials/links-article-like-dislike-comment.html.twig' %}
            </span>
        </header>

        {#BODY#}
        <div class="row my-3 p-3">
            <article class="w-100 p-3">
                <div class="row">
                    <div class="w-100">

                        <a class="align-content-center w-50 float-left mr-4 mb-4"
                           data-toggle="tooltip" title="Enlarge image."
                           href="{{ path('enlarge_image',{
                               'uri':imageUrl,
                               'goBack':currentUri
                           }) }}">
                            <img src="{{ imageUrl }}" class="w-100 border hover-scale shadow" align="left">
                        </a>
                        {{ article.summary|raw }}
                    </div>
                </div>
                <hr>
                {{ article.content|raw }}
            </article>
        </div>

        {#FOOTER#}
        <footer>
            <hr>
            <p class="float-left mt-2 mb-1">
                <span class="text-success">{{ article.dateAdded|date('d.m.Y') }}</span>
                by
                <a data-toggle="tooltip" title="See all articles by {{ article.author.fullName|upper }}"
                   href="{{ path('user_articles', {'id':article.author.id}) }}">
                    {{ article.author.fullName|upper }}
                </a><br>
                | <span data-toggle="tooltip" title="Views">
                    <i class="far fa-eye text-primary"></i>: {{ article.viewCount }} </span>
                | <span data-toggle="tooltip" title="Likes">
                    <i class="fas fa-thumbs-up text-success"></i>: {{ article.likesCount }}</span>
                | <span data-toggle="tooltip" title="Dislikes">
                    <i class="fas fa-thumbs-down text-danger"></i>: {{ article.dislikesCount }}</span>
                | <span data-toggle="tooltip" title="Root Comments">
                    <i class="far fa-comment text-primary"></i>: {{ rootComments|length }}</span>
                | <span data-toggle="tooltip" title="All Comments">
                    <i class="far fa-comments text-primary"></i>: {{ article.comments|length }}</span>
            </p>

            <span class="float-right">
                {% include 'partials/links-article-edit-delete.html.twig' %}
                {% include 'partials/link-go-back.html.twig' %}
            </span>

        </footer>


        {# COMMENTS #}
        {% if rootComments %}
            <hr>
            {% for comment in rootComments %}
                {% include 'partials/snippet-comment.html.twig' %}
            {% endfor %}
        {% endif %}
    </article>

{% endblock %}


{% use 'partials/site-header.html.twig' %}
{% block contextMenu %}
    <div class="bg-info rounded p-2">
        {% include 'partials/link-go-back.html.twig' %}
        {% include 'partials/links-article-edit-delete.html.twig' %}
        {% include 'partials/links-article-like-dislike-comment.html.twig' %}
    </div>
{% endblock %}
