{% extends "base.html.twig" %}

{% block main %}

    <div class="form col-sm-9 col-lg-6 mx-auto my-5 pt-3 bg-light rounded border shadow">

        {# ARTICLE #}
        <h3>Article: <span class="text-primary">{{ article.title }}</span></h3>
        <small class="text-secondary">
            {{ article.dateAdded|date('Y-m-d') }} by {{ article.author.fullName|upper }}
        </small>
        <hr class="my-2">

        {# PARENT COMMENT #}
        {% if parent %}
            <h3>Comment: <span class="text-primary">{{ parent.title }}</span></h3>
            <small class="text-secondary">
                {{ parent.createdAt|date('Y-m-d H:m') }} by {{ parent.user.fullName|upper }}
            </small>
            <hr class="my-2">
        {% endif %}



        <h2>Add Comment</h2>

        {# FORM #}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <a class="btn btn-outline-primary" href="{{ goBack }}"><i class="fas fa-ban"></i> Cancel</a>
            <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Add</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
