{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}

    <div class="row">

        <form name="authenticate" class="form col-sm-9 col-lg-6 mx-auto my-5 pt-3 bg-light rounded border shadow"
              action="{{ path('security_login') }}" method="post">

            <fieldset>

                <legend>Login</legend>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="user_email">Email</label>
                    <input name="_username"
                           id="user_email"
                           type="email"
                           placeholder="Email"
                           value="{{ last_username }}"
                           class="form-control"
                           autofocus>

                    <small id="emailHelp" class="form-text text-muted">
                        We'll never share your email with anyone else.</small>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="_password"
                           id="password"
                           type="password"
                           placeholder="Password"
                           class="form-control">
                </div>

            </fieldset>

            <div class="form-group">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>

                {% include 'partials/link-cancel.html.twig' %}
                {% include 'partials/button-login.html.twig' %}

            </div>

        </form>

    </div>

{% endblock %}
