{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-sm-9 col-lg-6 mx-auto my-5 p-3 bg-light rounded border shadow">

        <div class="d-flex d-flex justify-content-between align-items-center">

            <h1 class="float-left">Tags list</h1>

            <a class="btn btn-outline-success float-right"
               href="{{ path('tags_new', {'goBack':currentUri}) }}"><i class="fas fa-tag"></i> Add</a>
        </div>

        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig' with {'pagination':tags, 'class':'mx-auto my-2'} %}

        {# TABLE #}
        <table class="table table-striped table-hover table-bordered">
            <thead class="bg-primary text-white">
            <tr>
                {#<th>Id</th>#}
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr>
                    {#<td><a href="{{ path('tags_show', { 'id': tag.id }) }}">{{ tag.id }}</a></td>#}
                    <td>{{ tag.name }}</td>
                    <td>{{ tag.description }}</td>
                    <td>
                        {# show #}
                        <a class="btn btn-sm btn-outline-success"
                           href="{{ path('tags_show', { 'id': tag.id,'goBack':currentUri}) }}">
                            <i class="far fa-eye"></i> show</a>

                        {# edit #}
                        <a class="btn btn-sm btn-outline-primary"
                           data-toggle="tooltip"
                           title="Edit Tag <strong class='text-primary'>{{ tag }}</strong> and its relations to the Articles."
                           href="{{ path('tags_edit', { 'id': tag.id,'goBack':currentUri}) }}">
                            <i class="far fa-edit"></i> edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {#PAGINATOR#}
        {% include 'partials/knp-paginator.html.twig' with {'pagination':tags, 'class':'mx-auto my-1'} %}

    </div>

{% endblock %}
