{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-sm-9 col-lg-6 mx-auto my-5 p-3 bg-light rounded border shadow">

        <h1>Tag</h1>

        {# TABLE #}
        {% import 'partials/macro-table-horizontal-rows.html.twig' as tablebody %}
        <table class="table table-striped table-bordered">
            <tbody>

            {{ tablebody.tablerows([
                ['Id',tag.id],
                ['Name',tag.name],
                ['Description',tag.description],
                ['Number of Articles',tag.articles|length],
            ]) }}

            <tr>
                <th>
                    Articles
                    <br>
                    {% include 'partials/knp-paginator.html.twig' with {'pagination': articles, 'class':'m-3'} %}
                </th>
                <td>
                    {% for article in articles %}
                        <a href="{{ path('article_view', {'id': article.id, 'goBack': currentUri}) }}">
                            {{ article }}
                        </a><br>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>


        {# BACK button #}
        {% include 'partials/link-go-back.html.twig' %}

        {# go to EDIT button #}
        <a href="{{ path('tags_edit', { 'id': tag.id, 'goBack': currentUri, } ) }}"
           data-toggle="tooltip"
           title="Edit Tag <strong class='text-primary'>{{ tag }}</strong> and its relations to the Articles"
           class="btn btn-success"><i class="far fa-edit"></i> Edit...</a>

        {# DELETE FORM #}
        <div class="float-right">
            {% include 'partials/form-tag-delete.html.twig' %}
        </div>

    </div>

{% endblock %}
